<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center">wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="gapdifferent">
    <ion-row>
      <ion-col size="3"> <img src="../../assets/points.png" class="img"> </ion-col>
      <ion-col size="6"><p> <strong> Points </strong> </p>
        <p> <strong> {{userData.referral_point}} </strong> </p> </ion-col>
      <ion-col size="3"> <ion-icon name="chevron-forward-outline" class="ion-icon"></ion-icon> </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="gapdifferent">
    <ion-row>
      <ion-col size="3"> <img src="../../assets/refer.png" class="img"> </ion-col>
      <ion-col size="6"><p> <strong> Refer Cash </strong> </p> <p> <strong> ₹
        {{userData.reference_cash}} </strong> </p> </ion-col>
      <ion-col size="3"> <ion-icon name="chevron-forward-outline" class="ion-icon"></ion-icon> </ion-col>
    </ion-row>
  </ion-card>

  <!-- <ion-card class="gapdifferent">
    <ion-row>
      <ion-col size="3"> <img src="../../assets/wallet-balance.png" class="img"> </ion-col>
      <ion-col size="6"> <p> <strong> Own wallet Balance </strong> </p>  <p> <strong>  ₹
        220 </strong> </p> </ion-col>
      <ion-col size="3"> <ion-icon name="chevron-forward-outline" class="ion-icon"></ion-icon> </ion-col>
    </ion-row>
  </ion-card> -->

</ion-content>