

.gapdifferent{
    margin: 2rem 1rem;
}

.img{
    padding: 1rem;
}

     
.ion-icon{
    position: absolute;
    top: 2rem;
    font-size: 2rem;
}

.back-iocn{
    position: absolute;
    font-size: 1.8rem;
    left: 1rem;
}