<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center"> <strong>Privacy Policy </strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <io-row>
    <ion-col size="12">
      <p [innerHTML]="data" style="margin: 0px 20px"> </p>
    </ion-col>
  </io-row>

</ion-content>
