<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/sidebar-profile1.png"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        <ion-col size="10" class="center">
          <img src="../../assets/home-logo.png">
        </ion-col>
        <ion-col size="2">
          <img src="../../assets/wallet.png" (click)="goToPage()" class="right">
          <p class="size"> {{userData.referral_point}} P</p>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="margin">
    <ion-card-header class="center paddingZero">
      <h6> <strong>Refer Mobile No. </strong> </h6>
    </ion-card-header>

    <ion-item class="bottom">
      <ion-input type="text" [(ngModel)]="mobileNumber"  class="border" placeholder=" Type here"></ion-input>
      <ion-icon name="send" style="    color: white;
      background-color: #0c0cdf9c;;
      padding: 9px; margin: 0px;
      border-radius: 2px;"(click)='OpenModal()' slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card class="gapdifferent">
    <ion-row>
      <ion-col size="3" [routerLink] = "['/referencehistory']" class="center">
        <img src="../../assets/reference-history.png">
        <p> Reference History</p>
      </ion-col>
      <ion-col size="3"  [routerLink] = "['/referby']" class="center">
        <img src="../../assets/reference-history.png">
        <p> Refer by</p>
      </ion-col>
      <ion-col size="3" [routerLink] = "['/ownloan']" class="center">
        <img src="../../assets/own-loan.png">
        <p> Own Loan History </p>
      </ion-col>
      <ion-col size="3" [routerLink] = "['/transaction']" class="center">
        <img src="../../assets/transaction.png" alt="">
        <p>
          Transaction History
        </p>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card class="gapdifferent">
    <img src="../../assets/banner2.png">

  </ion-card>

  <ion-card class="gapdifferent">
    <ion-card-header>
      <ion-card-subtitle>
        <h5><strong>Happy Customer </strong> </h5>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img src="../../assets/customer1.png">
        </ion-col>
        <ion-col size="10">
          <p><span> Rajat Chaurasiya </span> <span class="right"> 2d</span></p>
          <p>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </p>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        </ion-col>
      </ion-row>.
    </ion-card-content>

    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img src="../../assets/customer1.png">
        </ion-col>
        <ion-col size="10">
          <p><span> Rajat Chaurasiya </span> <span class="right"> 2d</span></p>
          <p>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </p>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        </ion-col>
      </ion-row>.
    </ion-card-content>


    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img src="../../assets/customer1.png">
        </ion-col>
        <ion-col size="10">
          <p><span> Rajat Chaurasiya </span> <span class="right"> 2d</span></p>
          <p>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </p>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        </ion-col>
      </ion-row>.
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img src="../../assets/customer1.png">
        </ion-col>
        <ion-col size="10">
          <p><span> Rajat Chaurasiya </span> <span class="right"> 2d</span></p>
          <p>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </p>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        </ion-col>
      </ion-row>.
    </ion-card-content>
  </ion-card>
</ion-content>