ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card{
  border: 1px solid #80808070;
  border-radius: 15px;
}

.margin{
  margin: 3rem 1rem 1rem 1rem;
}

ion-icon{
  padding: 0px 3px;
  color: yellow;
}

.paddingZero{
  padding-bottom: 0px;
}

.bottom{
  margin-bottom: 5%;
}

.border{
  border: 1px solid #808080c9;
  // border-radius: 5px;
}

.size{
  font-size: 16px;
    margin-top: 0px;
    float: right;
}

ion-card-content{
  border-top: 1px solid;
}

.gapdifferent{
  margin: 2rem 1rem;
}