<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center"><strong>Own Loan History</strong></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card class="gapdifferent" *ngFor="let data of listLoan">
    <ion-card-header class="background">
      <ion-card-subtitle class="white">
        <ion-row>
          <ion-col size="12">
            {{data.start_date}}
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img src="../../assets/transaction.png" alt="">
        </ion-col>
        <ion-col size="9">
          <h4> <span> Loan Name  </span> :  {{data.service}} </h4>
          <p><strong> Status </strong> : <span style="color: green">{{data.current_status}} </span></p>
          <p> <span> Bank Name </span>  : {{data.provider}} </p>
          <p> <span> Remark </span> : <span>{{data.comment}} </span> </p>
        </ion-col>
        <!-- <ion-col size="3">
          <p style="color: green;"> Active </p>
        </ion-col> -->
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>