<!-- <ion-header>
  <ion-toolbar>
    <ion-title>otpPage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <img src="../../assets/WhatsApp Image 2022-03-28 at 12.38.17.jpeg" alt="">
  </ion-row>
  <ion-row style="margin-top : 5rem;">
  <ion-col size="2"></ion-col>
  <ion-col size="2">
    <ion-input type="number" #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')" [(ngModel)]="number1"></ion-input>
  </ion-col>

  <ion-col size="2">
    <ion-input type="number" #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)" [(ngModel)]="number2"></ion-input>
  </ion-col>

  <ion-col size="2">
    <ion-input type="number"  #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)" [(ngModel)]="number3"></ion-input>
  </ion-col>

  <ion-col size="2">
    <ion-input type="number" #otp4  required maxLength="1" (keyup)="otpController($event,'',otp3)" [(ngModel)]="number4"></ion-input>
  </ion-col>
  <ion-col size="2"> </ion-col>
</ion-row>
  <h5 class="center"> <strong> OTP </strong> </h5>
  <ion-row>
    <ion-col size="12">
      <h5 class="center"> <strong> Didn't recieve an OTP ? </strong> </h5>
      <h5 class="center" style="color: #175293;"> <strong> Resend OTP </strong> </h5>

    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-footer>
  <section>
    <ion-button expand="block" style="margin: 5%;     background-color: #081f38 !important;
    border-radius: 20px !important" (click)="login()">Submit</ion-button>
  </section>
</ion-footer> -->