ion-content{
    --background: url(../../assets/background.png)0 0/100% 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}

// .button-native{

// }