<!-- <ion-header>
  <ion-toolbar>
    <ion-title>firstPage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-row>
    
     <ion-col size="12" class="center"> <img src="../../assets/01.png" style="margin-top: 12rem;"> </ion-col>
    </ion-row>


    <section>
      <ion-button expand="block" color="light" style="position: absolute;
      bottom: 1rem;
      width: 90%;
      margin: 5%;" (click)="goToPage()">LogIn</ion-button>
    </section>

</ion-content>
