<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center"> <strong>Profile </strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" class="img-src">
      <img src="../../assets/user.png" style="height: 10rem">
      <p style="color: blue"> Update Profile Image</p>
    </ion-col>
  </ion-row>
  <ion-card style="background-color: #a0a0bd;">
    <ion-row>
      <ion-col size="12">
        <h4 style="color: white; font-weight: 700;margin-left :15px;"> Share Your Code </h4>
      </ion-col>
      <ion-col size="7">
        <p class="shareLink"> {{userData.refferal_code}}</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="copy-outline" style="color: white; font-size: 30px;"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <img src="../../assets/WhatsAppImage.jpg" class="image">
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row>
      <ion-col size="12" *ngIf="updateUserProfile">
        <ion-icon name="create" (click)="updateProfile(false)" style="float: right;font-size: 30px;color: #3171e0;">
        </ion-icon>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 15px" *ngIf="updateUserProfile">
      <ion-col size="12">
        <p class="lable"> Name : </p>
        <p class="textMargin"> {{userData.name}} </p>

      </ion-col>
      <ion-col size="12">
        <p class="lable"> Email : </p>
        <p class="textMargin">{{userData.email}} </p>
      </ion-col>

      <ion-col size="12">
        <p class="lable"> Phone Number : </p>
        <p class="textMargin"> {{userData.mobile}} </p>

      </ion-col>
    </ion-row>
    <ion-row *ngIf="!updateUserProfile">
      <ion-col size="12"> 
        <ion-item>
          <ion-item class="inputBox">
            <ion-input type="text"  [(ngModel)]="userData.name" placeholder="Name"></ion-input>
          </ion-item>
        </ion-item>
      </ion-col>


      <ion-col size="12"> 
        <ion-item>
          <ion-item class="inputBox">
            <ion-input type="text" [(ngModel)]="userData.email" placeholder="email"></ion-input>
          </ion-item>
        </ion-item>
      </ion-col>

      <ion-col size="12"> 
        <ion-item>
          <ion-item class="inputBox">
            <ion-input type="number" disabled [(ngModel)]="userData.mobile" placeholder="number"></ion-input>
          </ion-item>
        </ion-item>
      </ion-col>



      <ion-col size="6" (click)='profile()' class="center">
        <ion-button color="primary" >Update</ion-button>
      </ion-col>
      <ion-col size="6" (click)="updateProfile('true')" class="center">
        <ion-button color="medium" >Cancel</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>