.back-iocn{
    position: absolute;
    font-size: 30px;
    left: 10px
}


.img-src{
    text-align: center;
    margin-top: 2rem;
}
.shareLink{
    color: white;
    /* margin-left: 15px; */
    margin-top: 3px;
    text-align: center;
    font-weight: 800;
}

.inputBox{
    width: 100%;
    border: 1px solid;
    margin-top: 5px;
    border-radius: 10px;
}

.image{
    width: 2rem;
    height: 2rem;
}
.center{
    text-align: center;
}

.lable{
    color: blue;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.textMargin{
    margin-bottom: 5px;
    margin-top: 5px;
}