<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center"><strong> Transaction History</strong></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card class="gapdifferent" *ngFor="let data of listTrasection">
    <ion-card-header class="background">
      <ion-card-subtitle class="white">
        <ion-row>
          <ion-col size="8">
            Credit Cashback
          </ion-col>
          <ion-col size="4">
            ₹ {{data.cashback}}
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="3"> 
          <img src="../../assets/transaction.png" alt="">
        </ion-col>
        <ion-col size="9">
          <h5><strong> Service Name </strong>:  <span> {{data.service}}  </span> </h5>
          <p> <span> Status</span> : <span style="color: green;"> {{data.current_status}} </span> </p>
          <p> <span> Apply Date </span> :   <span>{{data.applied_date}} </span> </p>
           <p> <span> Service  Done Date </span> : <span>  {{data.updated_at}}</span>
          <p> <span>  Remark </span>  : <span>  </span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="gapdifferent">
    <ion-card-header class="debit">
      <ion-card-subtitle class="white">
        <ion-row>
          <ion-col size="9">
         Debit Amount
          </ion-col>
          <ion-col size="3">
            ₹ 1200
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img src="../../assets/transaction.png" alt="">
         </ion-col>
        <ion-col size="9">
          <h5> <strong> Lorem Ipsum es  </strong> </h5>
          <p> <span> Mobile No </span> : <span> 7752939685 </span> </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->

</ion-content>
