<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center"> <strong>Refer Received History </strong></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-card class="gapdifferent" *ngFor="let data of referList">
    <ion-card-header class="background">
      <ion-card-subtitle class="white">
        <ion-row>
          <ion-col size="12">
            {{data.created_at}}
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="3" class="green"> <img src="../../assets/popup-service2.png" alt=""> </ion-col>
        <ion-col size="9">
          <p> <strong> Service Name </strong> : {{data.service}} </p>
          <p> <span> Referral Number </span> : <span> {{data.reference_id}} </span> </p>
          <p *ngIf="data.current_status_id === '1'"> 
            <span><ion-button (click)="action(data,'1')" color="success">Accept</ion-button> </span>
            <span> <ion-button (click)="action(data,'0')" color="danger" style="float: right;">Decline</ion-button></span>
          </p>

          <p>  <span *ngIf="data.current_status_id === '2' " style="color: green;" > {{data.current_status}}  </span>  
              <span *ngIf="data.current_status_id === '3' " style="color: red;" >  {{data.current_status}}   </span></p>

        </ion-col>
        <!-- <ion-col size="3" class="green"> Accept </ion-col> -->
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>