

ion-icon{
    position: absolute;
    font-size: 30px;
    left: 10px
}

.gapdifferent{
    margin: 2rem 1rem;
  }

  .white{
      color: white;
  }

  .background{
      background-color: black;
      padding: 10px;
  }

  .green{
      color: green;
  }

  .red{
      color: red;
  }