<!-- <ion-header>
  <ion-toolbar>
    <ion-title>loginPage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <img src="../../assets/WhatsApp Image 2022-03-28 at 12.38.17.jpeg" alt="">
  </ion-row>

  <h5 class="center"> <strong> Log In </strong> </h5>

  <ion-item>
    <ion-item class="inputBox">
      <ion-input type="number" [(ngModel)]="getNumber" placeholder="Phone number"></ion-input>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-item class="inputBox">
      <ion-input type="text" placeholder="Referral code"></ion-input>
    </ion-item>
  </ion-item>

  <ion-item>
    <p style="color : gray"> You will recieve an OTP for verfication </p>
  </ion-item>
  <div class="checkbox" >
    <ion-checkbox slot="start" (ionChange)="checkCondition($event,'first')"></ion-checkbox>
    <ion-label style="padding-left: 20px;">I agree with the <span (click)="gototerms()" style="color: blue">Terms & Conditions</span> .</ion-label>
  </div>
</ion-content>


<ion-footer>
  <section>
    <ion-button expand="block" style="margin: 5%; background-color: #081f38 !important;
    border-radius: 20px !important" [disabled]="!term1" (click)="getOtp()">Get OTP</ion-button>
  </section>
</ion-footer>