<ion-header>

  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-iocn" style='z-index: 99999' (click)="onBack()"></ion-icon>
    <ion-title class="center"><strong>Reference History </strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="gapdifferent" *ngFor="let data of listHistory">
    <ion-card-header class="background">
      <ion-card-subtitle class="white">
        <ion-row>
          <ion-col size="9">
            {{data.created_at}}
          </ion-col>
          <ion-col size="3">
            ₹
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          <p>Lorem Ipsum es  </p>
          <p> <span> Mobile No </span> : <span> {{data.mobile}} </span> </p>
        </ion-col>
        <ion-col size="4" class="green"> Reference Cashback </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>