<ion-content>

  <ion-row>
    <ion-col size="12" class="center">

      <span class="size"> Services </span>
      <span>
        <ion-icon class="iconSize" (click)="CloseModal()" name="close-outline"></ion-icon>
      </span>
    </ion-col>
  </ion-row>

  <hr style="border-bottom: 1px solid #1e1e1e;" />


  <ion-row>

    <ion-col size="6"  *ngFor="let data of listService">

      <ion-card style="border: 1px solid black;" (click)="selectService(data)">
        <ion-row [ngClass]="{'color': data.name === serviceName}" style="padding: 20px;">
          <ion-col size="12" class="center"> <img src="../../assets/popup-service1.png"></ion-col>
          <ion-col size="12" class="center"> {{data.name}} </ion-col>
        </ion-row>
      </ion-card>

    </ion-col>

    <ion-col size="12" class="center" >   

      <ion-button color="primary" (click)="openModel()" style="text-transform:capitalize">Got It</ion-button>

      <!-- <ion-button size="small">Got It</ion-button> -->

      </ion-col>

  </ion-row>

</ion-content>