

.iconSize{
    float: right;
    margin-right: 15px;
    font-size: 35px;
}


.size{
    font-size: 33px;
}

.ion-color-success{
    --ion-color-base : var(--ion-color-success, #512dd3) !important; 
    --ion-color-shade : var(--ion-color-success-shade, #512dd3) !important;
    --ion-color-tint : var(--ion-color-success-tint, #512dd3) !important
}

.color{
    background-color: #8080808c;
}